<nav class="navbar navbar-expand-md navbar-light" style="background-color: #6EE7B7;">
  <!--<a class="navbar-brand" href="#">Orange Test application</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favorites">Favorites</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
