
<!--<nav class="navbar navbar-light justify-content-center d-flex" style="background-color:#93C5FD">
  <form class="form-inline">
    <input [(ngModel)]="query" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button (click)="search()" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
  </form>
</nav>

<div class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <img class="card-img" style="max-height: 200px;width: auto" src="http://books.google.com/books/content?id=1ejy4wQ1BgEC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="Card image cap">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <img class="card-img" style="max-height: 200px;width: auto" src="http://books.google.com/books/content?id=1ejy4wQ1BgEC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="Card image cap">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <img class="card-img" style="max-height: 200px;width: auto" src="http://books.google.com/books/content?id=1ejy4wQ1BgEC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="Card image cap">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card title that wraps to a new line</h4>
        <img class="card-img" style="max-height: 200px;width: auto" src="http://books.google.com/books/content?id=1ejy4wQ1BgEC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" alt="Card image cap">
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>


  </div>
</div>-->
